body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }
  
  #drawCardsButton {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  #drawCardsButton:hover {
    background-color: #777;
  }
  
  #cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card {
    width: 120px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 4px 5px rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #222;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #444;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    color: #fff;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  input[type=range] {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  

  .card-image {
    width: 100%;
    height: auto;
    /* Add any additional styles for the main page images */
  }
  
  .modal-image {
    width: 50%;
    height: auto;
    /* Add any additional styles for the modal images */
  }
  
  .card-name {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    /* Add any additional styles for the card names */
  }
  
  .upside-down {
    transform: rotate(180deg);
  }

  .github-info {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    /* Add any additional styles as needed */
  }
  
  .github-info a {
    color: #bbb;
    text-decoration: none;
  }
  
  .github-info a:hover {
    text-decoration: underline;
  }
  

  .card:hover .card-name {
    text-decoration: underline;
  }

  .card-name {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: text-decoration 1.0s ease; /* Add this line for the animation */
    /* Add any additional styles for the card names */
  }


  